/* .body-container{
    border-style: ridge;
    background-color:aquamarine;
}
#body-container{
    display: flex ;
    flex-direction : column; 
    box-sizing: border-box;
    height: 100%;
}
.header-main{
    border-style :inherit;
}
#header-main{
    border-style :inherit;
} */
#body-page{
    display: flex;
    flex-direction: column ;
    justify-content: space-around;
    /* background-color: rgb(64, 77, 73); */
}
/* TITLE PART */
#main-title{
    /* background-color: blanchedalmond; */
    height: 70pt;
    padding: 1pt;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#title-logo{
    width: 150pt;
    background-color: blueviolet;
    background-image: url("image/logo3.png");
    width: 80pt;
    height: 70pt;

}
#title-title{
    text-align: center;
    font-size: 35pt;
    
    margin-top: 10pt;
}

/* MAIN Container */
#main-container{
    padding: 3pt;
    
    display: flex;
    flex-direction: row;
    height:500pt;
    /* background-color: aqua; */
    /* background-color: aquamarine; */  
}
/* DEALER */
#dealer-common{
    height: 200pt;
    margin-top: 2pt;
}
#dealer-container{
    width: 30%;
    flex-direction: column;
    /* background-color: rgb(122, 141, 204); */
    display: flex;
}
#dealer-listcard{
    padding: 0;
    margin: 0;
}
/* PLAYER */
#player-container{
    display: flex;
    flex-direction: row;
    /* background-color: rgb(173, 219, 204); */
    width: 70%;
}
.list-player{
    padding: 2pt;
    width : 190pt;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
}

#player-listcard{
    margin:0;
}
#footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 65pt;
    padding: 1pt;
    background-color: chartreuse;
    text-align: center;
    color: red;
    font-size:30pt;
}
.player{
    display: flex;
    flex-direction: column;
}
#player-button{
    display: flex;
    justify-content: space-around;
    background-color:chartreuse;
    width: 350pt;
}

.player-common{
    height : 200pt;
    display: flex;
    flex-direction: column;
 /* /   background-color: beige; */
    border-style: ridge; 
    border-color: aqua;
}
.player-ingame{
    display: flex;
    flex-direction: column;
    /* border-style: ridge;  */
}
#player-infor{
    background-color: orange;
    width: 400pt;
}

#this{
    /* background-color: azure; */
}
#dealer-avatar{
    height: 80pt;
    width: 80pt;
    max-width: 80pt;
    border-style: solid;
    border-color: rgb(212, 230, 51);
    border-radius: 10pt;
}
.player-avatar{
    height: 80pt;
    width: 80pt;
    box-sizing: border-box;
    border-style: solid;
    border-color: rgb(212, 230, 51);
    border-radius: 10pt;
}
.player-information{
    height: 80pt;
    width: 130pt;
    margin-left: 10pt;
    margin-top: 10pt;
    /* border-style: solid; */
    /* border-color: tomato; */
}
#ingame-information{
    display: flex;
    flex-direction: row;
    height: 80pt;
    margin-left: 100pt;
    width: 130pt;
    background-color: aquamarine;
     /* border-style: solid; */ 
     /* border-color: tomato; */ 
}
#numofplayer{
    background-color: blueviolet;
    font-size: 20pt;
    text-align: center;
    padding-top: 30pt;
    width: 30pt;
    color: red;
}
#totalbet{
    font-size: 20pt;
    text-align: center;
    padding-top: 30pt;

}
.player-title{
    font-size: 20pt;
    color: red;
}
#dealer-title{

}
.player-id{
    font-size : 10pt;
    color: black;
}
.player-budget{
    color: yellowgreen;

}
#player-notice1{
    background-color: antiquewhite;
    width: 100pt;
    margin-top: 20pt;
    margin-left:40pt; 
    height: 60pt;
    border-style: ridge;
    border-radius: 10pt;
}
#betted1{
    color: yellowgreen;
    font-size: 20pt;
    /* padding-left: 30pt; */
    text-align: center;
}
/*  */
/* MENU CONTAINER */
#menu-container{
    padding: 3pt;
    justify-content: space-around;
    /* background-color: dodgerblue; */
 
    width : 100%;
    height: 100pt;

    display: flex;
}   
.game-button{
    margin-top: 20pt;
    width: 100pt;
    height: 50pt;
    /* border-style: ridge; */
}
/* ========================================================== */
/* INPUT  */
#player-input{
    background-color: turquoise;
    width: 400pt;
    display: flex;
    flex-direction: row;
}
#inputcontainer{
    display: flex;
    flex-direction: row;
    width: 400pt;
}
#input-form{
    display: flex;
    flex-direction: column;
    width: 150pt;
    /* background-color: aqua; */
}
    #title-input{
        color: red;
        font-size:15pt;
    }

    #submit-input{
        display: flex;
        flex-direction: row;

    }

#input-submit{
    margin-top: 38pt;
    margin-left: 5pt;
    background-color: darkgreen;
    height: 22pt;
    width: 30pt;
    padding-top: 8pt;
    text-align: center;
    border-style: ridge;
    border-radius: 10pt;
    cursor: pointer;
}
#all{
    margin-top: 38pt;
    margin-left: 5pt;
    background-color: darkgreen;
    height: 22pt;
    width: 30pt;
    padding-top: 8pt;
    text-align: center;
    border-style: ridge;
    border-radius: 10pt;
    cursor: pointer;
}